service:
  name: shani-borsch
custom:
  stage: { env:NODE_ENV }
  dotenv:
    path: ./.env
    basePath: ./
    logging: false
    include:
      - NODE_ENV
      - DB_URL
      - DB_NAME
      - DB_HOST
      - DB_PASS

      - EMAIL_SERVICE
      - EMAIL_USER
      - EMAIL_PASS

      - CLOUD_REGION
      - CLOUD_AUTH_CLIENT_ID
      - CLOUD_AUTH_CLIENT_SECRET
      - CLOUD_LOGROUP_NAME
      - CLOUD_BUCKET_NAME
      - TOKEN_SECRET
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  serverless-offline:
    httpPort: 4000

plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-dotenv-plugin

package:
  individually: true

resources:
  Resources:
    BucketUpload:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${env:CLOUD_BUCKET_NAME}-${env:NODE_ENV}

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${self:custom.stage}
  region: ${env:CLOUD_REGION}
  memorySize: 256
  timeout: 6
  apiGateway:
    minimumCompressionSize: 1024
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  getProducts:
    handler: src/endpoints/sendEmail.handler
    events:
      - http:
          path: /email
          method: POST
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Access-service-key
  uploadFile:
    handler: src/endpoints/uploadFile.handler
    events:
      - http:
          path: /upload
          method: POST
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Access-service-key
